# Created by .ignore support plugin (hsz.mobi)

postgresql-42.2.9.jre7.jar
Comp421Project_G84.iml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/generation/generation.iml
/out/production/generation/com/intellij/uiDesigner/core/GridConstraints.class
/out/production/generation/com/intellij/uiDesigner/core/GridLayoutManager.class
/out/production/generation/com/intellij/uiDesigner/core/HorizontalInfo.class
/out/production/generation/com/intellij/uiDesigner/core/LayoutState.class
/out/production/generation/simpleApp.class
/out/production/generation/simpleApplication.class
/out/production/generation/simpleJDBC.class
/out/production/generation/com/intellij/uiDesigner/core/Spacer.class
/out/production/generation/com/intellij/uiDesigner/core/SupportCode$TextWithMnemonic.class
/out/production/generation/com/intellij/uiDesigner/core/SupportCode.class
/out/production/generation/com/intellij/uiDesigner/core/Util.class
/out/production/generation/com/intellij/uiDesigner/core/VerticalInfo.class
/out/production/generation/com/intellij/uiDesigner/core/DimensionInfo.class
/out/production/generation/com/intellij/uiDesigner/core/AbstractLayout.class
